<br>
<div id="map"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: <%= latitude %>, lng: <%= longitude %>}
        });

        // Loop through the hotels and place a marker on each of its locaitons
        <% json.HotelListResponse.HotelList.HotelSummary.forEach(function(object) { %>
            var marker = new google.maps.Marker({
                position: {
                    lat: <%= object.latitude %>,
                    lng: <%= object.longitude %>},
                map: map,
                title: '<%= object.name %>',
                icon: 'https://i.imgur.com/hK48swa.png',
            });

            // Name of hotel to show up when its respective marker is clicked
            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent('<%= object.name %>');
                infowindow.open(map, this);
            });
        <% }); %>
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfS03anpZOgmay_j_BwdBGmDWms5k4Naw&callback=initMap">
</script>

<br><br><br><br>