<br>
<div id="map"></div>
<script>
    //Show users the directions from origin to destination
    function initMap() {

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var origin = '<%= latH %>,<%= lngH %>';
        var destination = '<%= latA %>,<%= lngA %>';

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: <%= latH %>, lng: <%= lngH %>}
        });
        directionsDisplay.setMap(map);

        directionsService.route({
            origin: origin,
            destination: destination,
            travelMode: '<%= mode %>',
        }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);

                var route = response.routes[0];
                var directions = '';
                for(var i = 0; i < route.legs[0].steps.length; i++) {
                    directions += route.legs[0].steps[i].instructions + "<br>";
                }Departure: route.legs[0].distance
                document.getElementById('origin').innerHTML = route.legs[0].start_address;
                document.getElementById('destination').innerHTML = route.legs[0].end_address;
                document.getElementById('distance').innerHTML = route.legs[0].distance.text;
                document.getElementById('time').innerHTML = route.legs[0].duration.text;
                document.getElementById('directions').innerHTML = directions;

            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfS03anpZOgmay_j_BwdBGmDWms5k4Naw&callback=initMap">
</script>

<br><br>