<br>
<div id="map"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: <%= latitude %>, lng: <%= longitude %>}
        });

        // Blue marker on the location of the chosen hotel
        var hotelMarker = new google.maps.Marker({
            position: {lat: <%= latitude %>, lng: <%= longitude %>},
            map: map,
            icon: 'https://i.imgur.com/hK48swa.png',
        });
        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(hotelMarker, 'click', function() {
                infowindow.setContent('<%= hotel %>');
                infowindow.open(map, this);
        });

        // Markers on each the locations of attraction around the hotel
        <% json.results.forEach(function(object) { %>
            var marker = new google.maps.Marker({
                position: {
                    lat: <%= object.geometry.location.lat %>,
                    lng: <%= object.geometry.location.lng %>
                },
                map: map,
                title: '<%= object.name %>',
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent('<%= object.name %>');
                infowindow.open(map, this);
            });
        <% }); %>
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfS03anpZOgmay_j_BwdBGmDWms5k4Naw&callback=initMap">
</script>

<br><br><br><br>