<% include templates/header.ejs %>

<body>
<div class="container">

    <h4>List of <font color="blue"><%= (type).replace('_', ' ') %>(s)</font>
        around <font color="blue"><%= hotel %></font></h4>

    <!--Provide an option for the user to change the types of attraction listed,
    defaulted to Restaurant and the types are taken from GoogleMap Places Type therefore
    the list is easily scalable-->
    What are you looking for?
    <select onChange="location.href='/attraction/'+ this.value + '/<%= hotel %>/' +
            '<%= latitude %>/<%= longitude %>/<%= radius %>'">
        <option value="">Pick an option</option>
        <option value="restaurant">Restaurant</option>
        <option value="art_gallery">Art Gallery</option>
        <option value="atm">ATM</option>
        <option value="bar">Bar</option>
        <option value="beauty_salon">Beauty Salon</option>
        <option value="book_store">Book Store</option>
        <option value="bus_station">Bus Station</option>
        <option value="cafe">Cafe</option>
        <option value="casino">Casino</option>
        <option value="campground">Campground</option>
        <option value="convenience_store">Convenience Store</option>
        <option value="gas_station">Gas Station</option>
        <option value="library">Library</option>
        <option value="liquor_store">Liquor Store</option>
        <option value="museum">Museum</option>
        <option value="night_club">Night Club</option>
        <option value="shopping_mall">Shopping Mall</option>
        <option value="spa">Spa</option>
        <option value="taxi_stand">Taxi Stand</option>
        <option value="train_station">Train Station</option>
        <option value="transit_station">Transit Station</option>
        <option value="zoo">Zoo</option>
    </select>

    <br>
    <!--Provide an option for the user to change the search radius of the list of attractions,
    defaulted to 1000meters and maximum is 50000meters-->
    Search radius (1~50000 meter): <input type="number" min=1 max=50000 id="radius" value="<%= radius %>">
    <input type="button" value="Go" onclick="location.href='/attraction/<%= type %>/<%= hotel %>/' +
            '<%= latitude %>/<%= longitude %>/' + document.getElementById('radius').value">

    <br>

    <!--Google Radar search is limited to 20 results per API request but they provide tokens
    to view up to 40 more results from the same query, clicking the button will render 20 more results-->
    <input type="button" value="List more <%= type %>(s)" onclick="location.href='/attraction/'+
            '<%= type %>/<%= hotel %>/<%= latitude %>/<%= longitude %>/<%= radius %>/<%= json.next_page_token %>'">


    <div class="row">
        <table style="width:100%">
            <br>
            <tr>
                <th>Name</th>
                <th>Find me at</th>
                <th>Rating</th>
                <th>Select Destination Point</th>
            </tr>

            <% json.results.forEach(function(object) { %>
            <tr>
                <td><%= object.name %></td>
                <td><%= object.vicinity %></td>
                <td><%= object.rating %></td>

                <!--User selects the destination point-->
                <td align='center'>
                    <a href="/direction/<%= latitude %>/<%= longitude %>/<%= object.geometry.location.lat %>/<%=
                        object.geometry.location.lng %>/WALKING">
                        Select</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

    <% include includes/googleMapAttraction.ejs %>
</div>

</body>