<% include templates/header.ejs %>
<body>
<div class="container">
    <h4>Departure:</h4>
    <div id="origin"></div>

    <h4>Destination:</h4>
    <div id="destination"></div>

    <h4>Distance: </h4>
    <div id="distance"></div>

    <h4>Estimated time to arrival: </h4>
    <div id="time"></div>

    <br>

    <!--Provide an option for user to change their mode of travel, defaulted
    to walking and the directions might change depending on the user's selection-->
    Change Travel Mode (current: <%= mode %>):
    <select onChange="location.href='/direction/<%= latH %>/<%= lngH %>/' +
            '<%= latA %>/<%= lngA %>/' + this.value ">
         <option value="">Pick an option</option>
         <option value="DRIVING">Driving</option>
         <option value="BICYCLING">Bicycling</option>
         <option value="TRANSIT">Transit</option>
         <option value="WALKING">Walking</option>
    </select>

    <% include includes/googleMapDirection.ejs %>

    <h4>Directions:</h4>
    <div id="directions"></div>
</div>

</body>