<% include templates/header.ejs %>
<body>
<div class="container">
    <h4>List of hotels in <%= name %> </h4>

    <!--Provide an option for the user to change how many hotels show up in one page,
    defaults to 15 and minimum value has to be 2 because EAN's API doesnt produce a JSON
    array when there is only 1 result which results in the forEach loop breaking-->
    Results per page (2~300): <input type="number" min=2 max=300 id="numResult"  value="<%= num %>">
    <input type="button" value="Submit" onclick="location.href='/hotel/<%= state %>/<%= city %>/'+
            '<%= latitude %>/<%= longitude %>/' + document.getElementById('numResult').value;">

    <div class="row">
        <table style="width:100%">
            <br>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Select Departure Point</th>
            </tr>
            <% json.HotelListResponse.HotelList.HotelSummary.forEach(function(object) { %>
            <tr>
                <td><%= object.name %></td>
                <td><%= object.address1 %>, <%= object.city %>,
                    <%= object.stateProvinceCode %> <%= object.postalCode %></td>

                <!--Removing HTML Entities and some unwanted elements-->
                <td><%= (object.shortDescription)
                            .replace(/&lt;p&gt;&lt;b&gt;Property Location&lt;\/b&gt; &lt;br \/&gt;/g, "")
                            .replace(/&apos;/g, "'").replace(/&amp;/g, "&") %></td>
                <td><%= object.hotelRating %> <%= object.hotelRatingDisplay %></td>

                <!--User selects the origin point-->
                <td align='center'><a
                            href="/attraction/restaurant/<%= object.name %>/<%= object.latitude %>/<%= object.longitude
                            %>/1000">Select</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

    <% include includes/googleMapHotel.ejs %>
</div>

</body>