<% include templates/header.ejs %>

<body>
<div class="container">

    <h4>Welcome to CityTourism, to use the website:
        <ol>
            <li>Select a hotel as departure point</li>
            <li>Select an attraction near the hotel as destination point</li>
            <li>The map will then show the directions to your destination</li>
        </ol>
    </h4>

</div>
</body>
