<!DOCTYPE html>
<html lang="en">
<head>
    <title>CityTourism <%= title %> <%= name %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        html,
        body {
            height: 100%
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        th {
            text-align: center;
        }

        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body class="body" style="background-color:#f6f6f6">

<div class="container">
    <div class="row">
        <div style="background-color:#fff">
            <ul class="nav nav-pills">
                <li><a href='/'><font size="4" color="black">CITYTOURISM</font></a></li>
                <li><a href='/'>Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/#/">
                        Hotels<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href='/hotel/NW/Sydney/-33.871875/151.206613/15'>Sydney</a></li>
                        <li><a href='/hotel/VC/Melbourne/-37.810753/144.959732/15'>Melbourne</a></li>
                        <li><a href='/hotel/QL/Brisbane/-27.469094/153.025103/15'>Brisbane</a></li>
                        <li><a href='/hotel/WT/Perth/-31.944249/115.857145/15'>Perth</a></li>
                        <li><a href='/hotel/SA/Adelaide/-34.927534/138.600169/15'>Adelaide</a></li>
                    </ul>
                </li>

                <li><a>Attractions</a></li>
                <li><a>Directions</a></li>
            </ul>
        </div>
    </div>
</div>
<br>

</body>
</html>